In [2]:
import numpy as np
import pandas as pd

df = pd.DataFrame(np.random.randn(6, 4), index=pd.date_range('20220101', periods=6), columns=['A', 'B', 'C', 'D'])
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.463923  0.224024 -0.692272  0.035757
std    0.643496  0.917386  0.952518  0.441108
min   -0.586064 -1.434194 -1.554884 -0.372016
25%    0.298843 -0.055571 -1.364049 -0.187338
50%    0.449980  0.585601 -0.976998 -0.170864
75%    0.776491  0.833008 -0.323797  0.193502
max    1.335852  0.960952  0.954375  0.806157